$colors: (
    blueIntro: hsl(217, 28%, 15%),
    blueMain: hsl(218, 28%, 13%),
    blueFooter: hsl(216, 53%, 9%),
    blueTestimonials: hsl(219, 30%, 18%),
    cyanCTA: hsl(176, 68%, 64%),
    blueCTA: hsl(198, 60%, 50%),
    nutWhite: #ffff,
);
